## Deliverable 3. Create a Travel Itinerary Map.

In [17]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key = g_key)

In [18]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Hithadhoo,MV,82.38,overcast clouds,-0.6000,73.0833,Scoop Guest House
1,1,Nishihara,JP,78.85,light intensity shower rain,26.1842,127.7558,Minshuku Agaihama
2,5,Hasaki,JP,79.20,heavy intensity rain,35.7333,140.8333,Hotel Sunrise Choshi
3,6,Whitehorse,CA,63.10,broken clouds,60.7161,-135.0538,The Sternwheeler Hotel & Conference Centre
4,7,Albany,US,87.15,overcast clouds,42.6001,-73.9662,NaN

In [19]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current description</dt><dd>{Current Description}</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [20]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']== 'San Cristobal']
vacation_end = vacation_df.loc[vacation_df['City']== 'San Cristobal']
vacation_stop1 = vacation_df.loc[vacation_df['City']== 'Wajima']
vacation_stop2 = vacation_df.loc[vacation_df['City']== 'Salamiyah'] 
vacation_stop3 = vacation_df.loc[vacation_df['City']== 'Aden']
print(vacation_stop1)
print(vacation_stop2)
print(vacation_stop3)

     City_ID    City Country  Max Temp Current Description   Lat    Lng  \
225      355  Wajima      JP     81.73           clear sky  37.4  136.9

               Hotel Name
225  Wajiima Onsen Yashio
     City_ID       City Country  Max Temp Current Description      Lat  \
227      358  Salamiyah      SY     79.05           clear sky  35.0113

         Lng                                     Hotel Name
227  37.0532  Gondolas Forum grandchildren and grandparents
    City_ID  City Country  Max Temp Current Description      Lat      Lng  \
74      118  Aden      YE     84.34           clear sky  12.7794  45.0367

            Hotel Name
74  Sama Emirate Hotel

In [29]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0])
end = (vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0])
stop1 = (vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0])
stop3 = (vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0])

In [31]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs
import gmaps
import gmaps.datasets
gmaps.configure(api_key = g_key)

# Latitude-longitude pairs
Wajima = (37.4, 136.9)
Salamiyah = (35.0, 37.05)
Aden = (12.7, 45.0)

# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
trip_route = gmaps.directions_layer(start,end,waypoints = [stop1,stop2,stop3], travel_mode = 'DRIVING')
fig.add_layer(trip_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,350,San Cristobal,VE,84.38,broken clouds,7.7669,-72.2250,Posada Villaven C.A.
1,355,Wajima,JP,81.73,clear sky,37.4000,136.9000,Wajiima Onsen Yashio
2,358,Salamiyah,SY,79.05,clear sky,35.0113,37.0532,Gondolas Forum grandchildren and grandparents
3,118,Aden,YE,84.34,clear sky,12.7794,45.0367,Sama Emirate Hotel

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))